.allCard {
  position: relative;
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .img {
      height: 100%;
    }
    div.img {
      background: linear-gradient(45deg, #0a0d14, #4e525c);
      animation: img 1s infinite alternate-reverse;
      transition: 0.5s;
    }
    @keyframes img {
      from {
        opacity: 0.5;
      }
      to {
        opacity: 1;
      }
    }
    p {
      padding-block: 0.5rem;
      font-weight: 600;
    }
  }
  .rate {
    background: var(--blueColor);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-weight: 600;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 0;
      bottom: -50%;
      border: 10px solid;
      border-color: #1986ad transparent transparent transparent;
      z-index: -1;
    }
  }
}
